<% if status == 1 %>
<li id="<%= answer.answer_id %>">
  <% if answer_type == 1 %>
      <%= f.radio_button :answer_id, answer.answer_id %>
      <%= render partial: 'shared/answer_item', :locals => {:answer => answer} %>
  <% end %>
  <% if answer_type == 2 %>
      <%= f.text_field :answer_content %>
  <% end %>
  <% if answer_type == 3 %>
      <%= f.text_area :answer_content, rows: 5 %>
      <% if answer_sheet_detail.answer_file.nil? %>
      <%= f.file_field :attach_file, onchange: "$('#__answer_file_#{answer_sheet_detail.answer_sheet_detail_id}').val('change');" %>
      <% else %>
      <span id="__attachment_<%= answer_sheet_detail.answer_sheet_detail_id %>">
      <a href="javascript: void(0)" onclick="$.fileDownload('<%= download_path(@examination, @answer_sheet, answer_sheet_detail, "attachment") %>');">Attachment</a>
      <a href="javascript: void(0)" onclick="$('#__attachment_<%= answer_sheet_detail.answer_sheet_detail_id %>').hide();$('#__attachment_file_<%= answer_sheet_detail.answer_sheet_detail_id %>').show();$('#__attachment_file_<%= answer_sheet_detail.answer_sheet_detail_id %>').removeAttr('disabled');$('#__answer_file_<%= answer_sheet_detail.answer_sheet_detail_id %>').val('change');">X</a>
      </span>
      <%= f.file_field :attach_file, onchange: "$('#__answer_file_#{answer_sheet_detail.answer_sheet_detail_id}').val('change');" , style: "display: none", disabled: "disabled", id: "__attachment_file_#{answer_sheet_detail.answer_sheet_detail_id}" %>
      <% end %>
      <%= f.hidden_field :answer_file, id: "__answer_file_#{answer_sheet_detail.answer_sheet_detail_id}" %>
  <% end %>
</li>
<% end %>
<% if status == 2 %>
<li id="<%= answer.answer_id %>">
  <% if answer_type == 1 %>
      <input type="radio" <%= 'checked=checked' if answer.answer_id == answer_sheet_detail.answer_id %> disabled="disabled">
      <span style="<% if current_user.admin_user? && answer.answer_correct == 1 %>background-color: gray;<% end %>">
      <%= render partial: 'shared/answer_item', :locals => {:answer => answer} %>
      </span>
  <% end %>
  <% if answer_type == 2 %>
      <% if current_user.admin_user? %>
      <%= render partial: 'shared/answer_item', :locals => {:answer => answer} %>
      <% end %>
      <input type="text" value="<%= answer_sheet_detail.answer_content %>" disabled="disabled">
  <% end %>
  <% if answer_type == 3 %>
      <% if current_user.admin_user? %>
      <%= render partial: 'shared/answer_item', :locals => {:answer => answer} %>
      <% end %>
      <textarea disabled="disabled" rows="5"><%= answer_sheet_detail.answer_content %></textarea>
      <% if !answer_sheet_detail.answer_file.nil? %>
      <a href="javascript: void(0)" onclick="$.fileDownload('<%= download_path(@examination, @answer_sheet, answer_sheet_detail, "attachment") %>');">Attachment</a>
      <% end %>
  <% end %>
</li>
<% end %>