<% provide(:title, 'Monitor') %>
<h1>Monitor</h1>

<p>
  <%= form_tag(exports_path(format: "csv"), method: "get") do |f| %>
      Download:
      <select name="model_name" style="display: inline-block; width: 200px;">
        <option value="Answer">Answer</option>
        <option value="AnswerSheet">AnswerSheet</option>
        <option value="AnswerSheetDetail">AnswerSheetDetail</option>
        <option value="Conclusion">Conclusion</option>
        <option value="ExamQuestion">ExamQuestion</option>
        <option value="ExamQuestionDetail">ExamQuestionDetail</option>
        <option value="Examination">Examination</option>
        <option value="Level">Level</option>
        <option value="Question">Question</option>
        <option value="QuestionGroup">QuestionGroup</option>
        <option value="Subject">Subject</option>
        <option value="SubjectQuestionGroup">SubjectQuestionGroup</option>
        <option value="User">User</option>
      </select>
      <%= submit_tag "CSV" %>
  <% end %>
</p>
<p>
  <%= form_tag(imports_path, method: "get") do |f| %>
      Model:
      <select name="model_name" style="display: inline-block; width: 200px;">
        <option value="Answer">Answer</option>
        <option value="AnswerSheet">AnswerSheet</option>
        <option value="AnswerSheetDetail">AnswerSheetDetail</option>
        <option value="Conclusion">Conclusion</option>
        <option value="ExamQuestion">ExamQuestion</option>
        <option value="ExamQuestionDetail">ExamQuestionDetail</option>
        <option value="Examination">Examination</option>
        <option value="Level">Level</option>
        <option value="Question">Question</option>
        <option value="QuestionGroup">QuestionGroup</option>
        <option value="Subject">Subject</option>
        <option value="SubjectQuestionGroup">SubjectQuestionGroup</option>
        <option value="User">User</option>
      </select>
      <%= submit_tag "Import" %>
  <% end %>
  <%= link_to "Generate", generate_path %>
</p>

