<% provide(:title, 'All examinations') %>
<style>
        /* option:checked:before { content: "✓" } */
    option:before { content: "☐ " }
    option:checked:before { content: "☑ " }
</style>
<h1>All examinations</h1>

<%= form_for(Examination.new(user_id: @user.user_id)) do |f| %>
    Use the Ctrl key to select multiple
    <br>
    <%= select_tag "subject_ids", options_from_collection_for_select(@subjects, "subject_id", "subject_name"), :multiple => true , style: "display: inline-block; width: 200px;" %>
    <%= select_tag "level_id", options_from_collection_for_select(@levels, "level_id", "level_name"), style: "display: inline-block; width: 200px;" %>
    <%= f.submit "Start new", class: "btn btn-large btn-primary" %>
<% end %>

<%= will_paginate @examinations %>

<ul class="users">
  <%= render @examinations %>
</ul>

<%= will_paginate @examinations %>